// Primary Colors
$colors: (
  darkBlue: hsl(217, 28%, 15%),
  mainDarkBlue: hsl(218, 28%, 13%),
  footerDarkBlue: hsl(216, 53%, 9%),
  testimonialsDarkBlue: hsl(219, 30%, 18%),
  cyan: hsl(176, 68%, 64%),
  blue: hsl(198, 60%, 50%),
  lightRed: hsl(0, 100%, 63%),
  white: hsl(0, 0%, 100%),
);

//Function
@function getColor($name) {
  @return map-get($colors, $name);
}

//Fonts
$main-font: "Raleway", sans-serif;
$heading-font: "Open Sans", sans-serif;

//Font-Weight
$normal: 400;
$bold: 700;
$x-bold: 900;

//Font-Size
$main-size: 0.875rem;
