@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&family=Raleway:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: #181f2a;
}

.button {
  margin: 1rem;
}

.button .btn {
  padding: 1rem 2rem;
  background-color: #339ecc;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  color: white;
}

.main-heading {
  background-color: #1c2431;
}

.main-heading nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.main-heading nav .logo {
  width: 5rem;
}

.main-heading nav .logo img {
  width: 100%;
}

.main-heading nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-heading nav .nav-links li {
  margin: 0 0.5rem;
  list-style: none;
}

.main-heading nav .nav-links li a {
  text-decoration: none;
  color: inherit;
}

.main-heading .container {
  width: 85%;
  margin: 0rem auto;
}

.main-heading .container img {
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
  z-index: 5;
}

.main-heading .wave {
  width: 100%;
  position: absolute;
  top: 310px;
  z-index: 1;
}

.main-heading .bg {
  background-color: #181f2a;
  margin-top: 5rem;
}

.main-heading .bg .container .intro {
  text-align: center;
  margin: 4rem 0;
}

.main-heading .bg .container .intro .main-content .heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1rem 0;
  position: relative;
  z-index: 5;
}

.main-heading .bg .container .intro .main-content .text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1rem;
}

.main-heading .bg .container .intro .main-content .btn {
  width: 85%;
}

.main {
  text-align: center;
  padding: 5rem 0 2rem 0;
}

.main .container {
  width: 85%;
  margin: 0rem auto;
}

.main .container .sub-content {
  padding: 2rem 0;
}

.main .container .sub-content .illustration {
  margin: 2rem 0;
}

.main .container .sub-content .heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}

.main .container .sub-content .text {
  padding: 1rem 0;
  line-height: 1.5;
}

.main .container .productive {
  text-align: left;
}

.main .container .productive .sub-content .illustration img {
  width: 100%;
}

.main .container .productive .sub-content .link {
  display: inline-block;
}

.main .container .productive .sub-content .link p {
  border-bottom: 2px solid #65e2d9;
  padding-bottom: 3px;
  color: #65e2d9;
  font-size: 0.875rem;
}

.main .container .test {
  margin-top: 5rem;
  width: 95%;
  margin: 10rem auto;
}

.main .container .test .testimonials {
  text-align: left;
}

.main .container .test .testimonials .reviews {
  background-color: #202a3c;
  padding: 2rem 1rem 1rem 1rem;
  margin: 2rem 0;
  font-size: 0.8rem;
  line-height: 2;
}

.main .container .test .testimonials .reviews .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .test .testimonials .reviews .profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.main .container .test .testimonials .reviews .profile .info {
  margin-left: 0.5rem;
  padding: 1rem 0;
}

.main .container .test .testimonials .reviews .profile .info .name {
  font-weight: 700;
  letter-spacing: 1px;
}

.main .container .test .testimonials .reviews .profile .info .title {
  font-size: 0.6rem;
}

.main footer {
  background-color: #0b1523;
  text-align: left;
  padding: 2rem 0;
}

.main footer .support {
  background-color: #1c2431;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.main footer .support .sub-content .heading {
  font-size: 0.975rem;
}

.main footer .support .sub-content .text {
  font-size: 0.875rem;
}

.main footer .support .sub-content input {
  padding: 1rem 2rem;
  background-color: white;
  border: none;
  border-radius: 30px;
  width: 90%;
  margin-top: 1rem;
}

.main footer .support .sub-content .btn {
  width: 100%;
}

.main footer .logo {
  margin: 3rem 0;
  padding: 1rem 0;
}

.main footer .contact {
  margin: 2rem 0;
}

.main footer .contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.main footer .contact .contact-info .contact-text {
  margin-left: 2rem;
}

.main footer .quick-links {
  padding: 5rem 0;
}

.main footer .quick-links li {
  list-style: none;
  margin: 1rem 0;
}

.main footer .quick-links li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.main footer .quick-links .second-set {
  margin-top: 4rem;
}
/*# sourceMappingURL=style.css.map */