//Partials
@import "variables";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&family=Raleway:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  color: getColor(white);
  background-color: getColor(mainDarkBlue);
}

.main-heading {
  background-color: getColor(darkBlue);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    .logo {
      width: 5rem;

      img {
        width: 100%;
      }
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin: 0 0.5rem;
        list-style: none;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .container {
    width: 85%;
    margin: 0rem auto;

    img {
      position: relative;
      width: 100%;
      margin-top: 2.5rem;
      z-index: 5;
    }
  }

  .wave {
    width: 100%;
    position: absolute;
    top: 310px;
    z-index: 1;
  }

  .bg {
    background-color: getColor(mainDarkBlue);
    margin-top: 5rem;

    .container {
      .intro {
        text-align: center;
        margin: 4rem 0;

        .main-content {
          .heading {
            font-family: $heading-font;
            font-weight: $bold;
            font-size: 1.5rem;
            line-height: 1.5;
            margin: 1rem 0;
            position: relative;
            z-index: 5;
          }

          .text {
            font-size: $main-size;
            font-weight: $normal;
            line-height: 1.5;
            margin: 1rem;
          }

          .button {
            margin: 1rem;

            .btn {
              padding: 1rem 2rem;
              background-color: getColor(blue);
              border: none;
              border-radius: 30px;
              width: 85%;
              font-weight: $bold;
              color: getColor(white);
            }
          }
        }
      }
    }
  }
}

.main {
  text-align: center;
  padding: 5rem 0 2rem 0;

  .container {
    width: 85%;
    margin: 0rem auto;

    .sub-content {
      padding: 2rem 0;

      .illustration {
        margin: 2rem 0;
      }

      .heading {
        font-family: $heading-font;
        font-weight: $bold;
        font-size: 1.375rem;
        margin-bottom: 0.5rem;
      }

      .text {
        padding: 1rem 0;
        line-height: 1.5;
      }
    }

    .productive {
      text-align: left;

      .sub-content {
        .illustration {
          img {
            width: 100%;
          }
        }

        .link {
          display: inline-block;
          p {
            border-bottom: 2px solid getColor(cyan);
            padding-bottom: 3px;
            color: getColor(cyan);
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
